name: Pack, nuget.org

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

jobs:
  pack:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [LikeComparison, LikeComparison.MSTest, LikeComparison.Shouldly]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Get version from tag
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/}" >> $GITHUB_ENV
      - name: Pack
        run: dotnet pack ${{ matrix.package }} --configuration Release /p:Version=${VERSION} /p:ContinuousIntegrationBuild=true --output .
      - name: NuGet push
        run: dotnet nuget push ${{ matrix.package }}.${VERSION}.nupkg --api-key ${{ secrets.NUGET_APIKEY }} --source https://api.nuget.org/v3/index.json